<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139325404-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139325404-1');
</script>

</head>
<body>
  <div class="wrapper">
    <header>
      <img src="https://is.muni.cz/www/489173/SKAUT_logo_cerne.png?1559640852407" alt="Skaut logo" style="width:128px;height:160px;">
      <h1><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
      <p class="description">{{ .Site.Params.description }}</p>
    </header>

    <div class="page">
      {{ block "main" . }}{{ end }}
    </div>

    {{ partial "menu.html" . }}

    <footer>
      <p>
       
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><b>Creative Commons</b> Attribution-ShareAlike 4.0 International License</a>.
        <a style="box-shadow: none" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ "/images/cc80x15.png" | relURL }}" /></a><br>
      </p>
    </footer>
  </div>
</body>
</html>
